{
  "openapi": "3.1.0",
  "info": {
    "title": "EviMesh API Edge",
    "version": "0.3.0",
    "description": "Public Cloudflare Worker API entrypoint for EviMesh."
  },
  "servers": [{ "url": "https://api.evimesh.com" }],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Read service health",
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } }
          }
        }
      }
    },
    "/platform/keys": {
      "get": {
        "operationId": "getPlatformPublicKeys",
        "summary": "Read active and retained platform verification keys",
        "responses": {
          "200": {
            "description": "Platform public keys.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformPublicKeysResponse" } } }
          },
          "503": {
            "description": "Platform public keys are unavailable.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "getAuthenticatedActor",
        "summary": "Read the authenticated Supabase subject",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Authenticated subject.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthMeResponse" } } }
          },
          "401": {
            "description": "Authentication is missing or invalid.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/tasks/{taskId}/context": {
      "get": {
        "operationId": "getTaskContext",
        "summary": "Read the immutable ContextBundle for one Task and mode",
        "parameters": [
          { "name": "taskId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "mode", "in": "query", "required": true, "schema": { "type": "string", "enum": ["frontier", "full_trace", "adversarial", "blind"] } }
        ],
        "responses": {
          "200": { "description": "Immutable ContextBundle metadata.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContextBundleResponse" } } } },
          "400": { "description": "Invalid Task ID or ContextBundle mode.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "No matching ContextBundle exists.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": ["service", "status", "environment"],
        "properties": {
          "service": { "const": "evimesh-api-edge" },
          "status": { "const": "ok" },
          "environment": { "type": "string" }
        },
        "additionalProperties": false
      },
      "AuthMeResponse": {
        "type": "object",
        "required": ["subject", "email"],
        "properties": {
          "subject": { "type": "string", "minLength": 1 },
          "email": { "type": ["string", "null"] }
        },
        "additionalProperties": false
      },
      "PlatformPublicKeysResponse": {
        "type": "object",
        "required": ["active_key_id", "keys"],
        "properties": {
          "active_key_id": { "type": "string", "minLength": 1 },
          "keys": {
            "type": "array",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/PlatformPublicKey" }
          }
        },
        "additionalProperties": false
      },
      "PlatformPublicKey": {
        "type": "object",
        "required": ["key_id", "algorithm", "public_key"],
        "properties": {
          "key_id": { "type": "string", "minLength": 1 },
          "algorithm": { "const": "Ed25519" },
          "public_key": { "type": "string", "minLength": 1 }
        },
        "additionalProperties": false
      },
      "ContextBundleResponse": {
        "type": "object",
        "required": ["contextBundleId", "taskId", "taskRevision", "frontierSnapshotId", "mode", "manifest", "contentHash", "storageUri"],
        "properties": {
          "contextBundleId": { "type": "string" },
          "taskId": { "type": "string" },
          "taskRevision": { "type": "integer", "minimum": 1 },
          "frontierSnapshotId": { "type": "string" },
          "mode": { "type": "string", "enum": ["frontier", "full_trace", "adversarial", "blind"] },
          "manifest": { "type": "object" },
          "contentHash": { "type": "string", "pattern": "^sha256:[0-9a-f]{64}$" },
          "storageUri": { "type": "string", "format": "uri" }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["code", "message", "request_id"],
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "request_id": { "type": "string" }
        },
        "additionalProperties": false
      }
    }
  }
}
