{
  "openapi": "3.1.0",
  "info": {
    "title": "EviMesh API Edge",
    "version": "0.3.0",
    "description": "Public Cloudflare Worker API entrypoint for EviMesh."
  },
  "servers": [{ "url": "https://api.evimesh.com" }],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Read service health",
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } }
          }
        }
      }
    },
    "/platform/keys": {
      "get": {
        "operationId": "getPlatformPublicKeys",
        "summary": "Read active and retained platform verification keys",
        "responses": {
          "200": {
            "description": "Platform public keys.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformPublicKeysResponse" } } }
          },
          "503": {
            "description": "Platform public keys are unavailable.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "getAuthenticatedActor",
        "summary": "Read the authenticated Supabase subject",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Authenticated subject.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthMeResponse" } } }
          },
          "401": {
            "description": "Authentication is missing or invalid.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/auth/device": {
      "post": {
        "operationId": "startDeviceAuthorization",
        "summary": "Start an RFC-8628 device authorization grant for the CLI",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceAuthorizationRequest" } } } },
        "responses": {
          "200": { "description": "Device authorization started.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceAuthorizationResponse" } } } },
          "400": { "description": "Invalid device authorization request.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceAuthErrorResponse" } } } }
        }
      }
    },
    "/auth/device/approve": {
      "post": {
        "operationId": "approveDeviceAuthorization",
        "summary": "Bind one user code to the authenticated Actor after browser confirmation",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceApprovalRequest" } } } },
        "responses": {
          "200": { "description": "User code approved.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceApprovalResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "User code not found or expired.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceAuthErrorResponse" } } } },
          "409": { "description": "User code was already used.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceAuthErrorResponse" } } } }
        }
      }
    },
    "/auth/device/token": {
      "post": {
        "operationId": "exchangeDeviceToken",
        "summary": "Exchange an approved device code for one limited-scope CLI token",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceTokenRequest" } } } },
        "responses": {
          "200": { "description": "Limited CLI token issued.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceTokenResponse" } } } },
          "400": { "description": "Device code is pending, expired, or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceAuthErrorResponse" } } } },
          "503": { "description": "Device token issuance is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceAuthErrorResponse" } } } }
        }
      }
    },
    "/profile": {
      "get": {
        "operationId": "getOwnProfile",
        "summary": "Read the authenticated Actor profile",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Actor profile.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "patch": {
        "operationId": "updateOwnProfile",
        "summary": "Update the authenticated Actor profile",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Updated profile.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/signing-keys": {
      "post": {
        "operationId": "registerSigningKey",
        "summary": "Register the authenticated Actor's active Ed25519 public key",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterSigningKeyRequest" } } } },
        "responses": {
          "201": { "description": "Signing key registered.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api-tokens": {
      "get": {
        "operationId": "listApiTokens",
        "summary": "List the authenticated Actor's API tokens",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "API tokens.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createApiToken",
        "summary": "Create a scoped API token; the plaintext value is returned once",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateApiTokenRequest" } } } },
        "responses": {
          "201": { "description": "API token created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api-tokens/{tokenId}": {
      "delete": {
        "operationId": "revokeApiToken",
        "summary": "Revoke one of the authenticated Actor's API tokens",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "tokenId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "API token revoked.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List Projects with cursor pagination",
        "parameters": [
          { "name": "state", "in": "query", "required": false, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Project page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a Project and its first revision",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateProjectRequest" } } } },
        "responses": {
          "201": { "description": "Project created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Project creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "operationId": "getProject",
        "summary": "Read one Project with its current revision and revision etag",
        "parameters": [{ "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Project detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EtagObjectResponse" } } } },
          "404": { "description": "Project not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/projects/{projectId}/revisions": {
      "post": {
        "operationId": "reviseProject",
        "summary": "Append a Project revision guarded by If-Match",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "$ref": "#/components/parameters/IfMatchParam" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "201": { "description": "Project revision appended.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "412": { "description": "If-Match does not match the current revision.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/projects/{projectId}/frontier/latest": {
      "get": {
        "operationId": "getLatestFrontier",
        "summary": "Read the latest published FrontierSnapshot for one Project",
        "parameters": [{ "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Latest Frontier.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "No Frontier has been published.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/projects/{projectId}/frontier/history": {
      "get": {
        "operationId": "listFrontierHistory",
        "summary": "List published FrontierSnapshots with fixed Claim members",
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Frontier history page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      }
    },
    "/projects/{projectId}/frontier/diff": {
      "get": {
        "operationId": "diffFrontiers",
        "summary": "Compare two FrontierSnapshots of one Project",
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "fromSnapshotId", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "toSnapshotId", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } }
        ],
        "responses": {
          "200": { "description": "Frontier diff.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Frontier snapshot not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Snapshots belong to different projects.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/questions": {
      "get": {
        "operationId": "listQuestions",
        "summary": "List Questions with cursor pagination",
        "parameters": [
          { "name": "projectId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "state", "in": "query", "required": false, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Question page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      },
      "post": {
        "operationId": "createQuestion",
        "summary": "Create a Question and its ResearchContract reference",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateQuestionRequest" } } } },
        "responses": {
          "201": { "description": "Question created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Question creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/questions/{questionId}": {
      "get": {
        "operationId": "getQuestion",
        "summary": "Read one Question with its Contract revision",
        "parameters": [{ "name": "questionId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Question detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Question not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/questions/{questionId}/transitions": {
      "post": {
        "operationId": "transitionQuestion",
        "summary": "Move one Question through its state machine",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "questionId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TransitionRequest" } } } },
        "responses": {
          "201": { "description": "Question state changed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "409": { "description": "State transition is not allowed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List Tasks with cursor pagination and filters",
        "parameters": [
          { "name": "projectId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "type", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "tag", "in": "query", "required": false, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Task page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a Task and its first revision",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateTaskRequest" } } } },
        "responses": {
          "201": { "description": "Task created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Task creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tasks/{taskId}": {
      "get": {
        "operationId": "getTask",
        "summary": "Read one Task with its current revision, dependencies, leases, and revision etag",
        "parameters": [{ "name": "taskId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Task detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EtagObjectResponse" } } } },
          "404": { "description": "Task not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tasks/{taskId}/context": {
      "get": {
        "operationId": "getTaskContext",
        "summary": "Read the immutable ContextBundle for one Task and mode",
        "parameters": [
          { "name": "taskId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "mode", "in": "query", "required": true, "schema": { "type": "string", "enum": ["frontier", "full_trace", "adversarial", "blind"] } }
        ],
        "responses": {
          "200": { "description": "Immutable ContextBundle metadata.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContextBundleResponse" } } } },
          "400": { "description": "Invalid Task ID or ContextBundle mode.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "No matching ContextBundle exists.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tasks/{taskId}/attempts": {
      "post": {
        "operationId": "startAttempt",
        "summary": "Start an Attempt against one Task and ContextBundle",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "taskId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StartAttemptRequest" } } } },
        "responses": {
          "201": { "description": "Attempt started.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Attempt creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tasks/{taskId}/lease": {
      "post": {
        "operationId": "acquireTaskLease",
        "summary": "Acquire the soft lease for one Task",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "taskId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "requestBody": { "required": false, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "201": { "description": "Lease acquired.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "503": { "description": "Lease operations are not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "releaseTaskLease",
        "summary": "Release the authenticated Actor's soft lease for one Task",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "taskId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Lease released.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "503": { "description": "Lease operations are not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/attempts/{attemptId}": {
      "get": {
        "operationId": "getAttempt",
        "summary": "Read one Attempt with its bounded public trace summary",
        "parameters": [{ "name": "attemptId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Attempt detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Attempt not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/attempts/{attemptId}/transitions": {
      "post": {
        "operationId": "transitionAttempt",
        "summary": "Move one Attempt through its state machine",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "attemptId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TransitionRequest" } } } },
        "responses": {
          "201": { "description": "Attempt state changed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "409": { "description": "State transition is not allowed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/attempts/{attemptId}/trace": {
      "post": {
        "operationId": "recordTraceEvent",
        "summary": "Append one public-summary TraceEvent to an Attempt",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "attemptId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TraceEventRequest" } } } },
        "responses": {
          "201": { "description": "Trace event recorded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "409": { "description": "Attempt is not accepting trace events.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/claims": {
      "get": {
        "operationId": "listClaims",
        "summary": "List Claims with cursor pagination and filters",
        "parameters": [
          { "name": "projectId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "tag", "in": "query", "required": false, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Claim page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      },
      "post": {
        "operationId": "createClaim",
        "summary": "Create a Claim and its first hypothesis revision",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateClaimRequest" } } } },
        "responses": {
          "201": { "description": "Claim created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "401": { "description": "Authentication is missing or invalid.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Claim creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/claims/{claimId}": {
      "get": {
        "operationId": "getClaim",
        "summary": "Read one Claim with its current revision, status policy, and revision etag",
        "parameters": [{ "name": "claimId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Claim detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EtagObjectResponse" } } } },
          "404": { "description": "Claim not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/claims/{claimId}/graph": {
      "get": {
        "operationId": "getClaimGraph",
        "summary": "Read the bounded upstream or downstream dependency graph for one Claim",
        "parameters": [
          { "name": "claimId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "direction", "in": "query", "required": false, "schema": { "type": "string", "enum": ["upstream", "downstream"] } },
          { "name": "maxDepth", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 32 } }
        ],
        "responses": {
          "200": { "description": "Claim dependency graph.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Claim not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/claims/{claimId}/revisions/{revision}": {
      "get": {
        "operationId": "getClaimRevision",
        "summary": "Read one immutable Claim revision",
        "parameters": [
          { "name": "claimId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "revision", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 1 } }
        ],
        "responses": {
          "200": { "description": "Claim revision.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Claim revision not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/claims/{claimId}/revisions": {
      "post": {
        "operationId": "reviseClaim",
        "summary": "Append a Claim revision guarded by If-Match",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "claimId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "$ref": "#/components/parameters/IfMatchParam" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "201": { "description": "Claim revision appended.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Claim revision not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "412": { "description": "If-Match does not match the current revision.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/claims/{claimId}/transitions": {
      "post": {
        "operationId": "transitionClaim",
        "summary": "Move one Claim through its epistemic state machine",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "claimId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "$ref": "#/components/parameters/IfMatchParam" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TransitionRequest" } } } },
        "responses": {
          "201": { "description": "Claim state changed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "409": { "description": "State transition is not allowed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/claims/{claimId}/verifications": {
      "get": {
        "operationId": "listClaimVerifications",
        "summary": "List VerificationReceipts for one Claim",
        "parameters": [
          { "name": "claimId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "outcome", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "contextMode", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "actorId", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Verification receipts.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } }
        }
      }
    },
    "/artifacts": {
      "get": {
        "operationId": "listArtifacts",
        "summary": "List Artifacts with cursor pagination and filters",
        "parameters": [
          { "name": "artifactType", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "createdBy", "in": "query", "required": false, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Artifact page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      },
      "post": {
        "operationId": "createArtifact",
        "summary": "Create an Artifact with its first immutable revision and location",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateArtifactRequest" } } } },
        "responses": {
          "201": { "description": "Artifact created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "503": { "description": "Artifact creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/artifacts/upload-plan": {
      "post": {
        "operationId": "planArtifactUpload",
        "summary": "Plan a signed single-object upload for one Artifact revision",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UploadPlanRequest" } } } },
        "responses": {
          "201": { "description": "Upload plan.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UploadPlanResponse" } } } },
          "400": { "description": "Invalid upload plan input.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Artifact upload is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/artifacts/{artifactId}": {
      "get": {
        "operationId": "getArtifact",
        "summary": "Read one Artifact with its current revision and locations",
        "parameters": [{ "name": "artifactId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Artifact detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Artifact not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/artifacts/{artifactId}/revisions/{revision}": {
      "get": {
        "operationId": "getArtifactRevision",
        "summary": "Read one immutable Artifact revision",
        "parameters": [
          { "name": "artifactId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "revision", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 1 } }
        ],
        "responses": {
          "200": { "description": "Artifact revision.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Artifact revision not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/evidence": {
      "get": {
        "operationId": "listEvidence",
        "summary": "List Evidence with cursor pagination and filters",
        "parameters": [
          { "name": "evidenceType", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "claimId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Evidence page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      },
      "post": {
        "operationId": "createEvidence",
        "summary": "Create Evidence pinned to one Artifact revision",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateEvidenceRequest" } } } },
        "responses": {
          "201": { "description": "Evidence created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "503": { "description": "Evidence creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/evidence/{evidenceId}": {
      "get": {
        "operationId": "getEvidence",
        "summary": "Read one Evidence object with its Claim links",
        "parameters": [{ "name": "evidenceId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Evidence detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Evidence not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/evidence/{evidenceId}/links": {
      "post": {
        "operationId": "linkEvidenceClaim",
        "summary": "Link Evidence to one fixed ClaimRevision",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "evidenceId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LinkEvidenceRequest" } } } },
        "responses": {
          "201": { "description": "Evidence linked.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Evidence or Claim revision not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List Runs with cursor pagination and filters",
        "parameters": [
          { "name": "taskId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "actorId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Run page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      },
      "post": {
        "operationId": "createRun",
        "summary": "Record one Run receipt with immutable input and output references",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateRunRequest" } } } },
        "responses": {
          "201": { "description": "Run recorded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "409": { "description": "Output artifact revisions are not hash-verified.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Run creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/runs/{runId}": {
      "get": {
        "operationId": "getRun",
        "summary": "Read one Run receipt with its inputs and outputs",
        "parameters": [{ "name": "runId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Run detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Run not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/verifications/prepare": {
      "post": {
        "operationId": "prepareVerification",
        "summary": "Prepare the canonical signing bytes for one VerificationReceipt",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PrepareVerificationRequest" } } } },
        "responses": {
          "200": { "description": "Signing bytes prepared.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Claim or contract revision not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/verifications": {
      "post": {
        "operationId": "submitVerification",
        "summary": "Submit one VerificationReceipt with findings and verifier contribution",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubmitVerificationRequest" } } } },
        "responses": {
          "201": { "description": "Verification receipt submitted.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "422": { "description": "Verification type or context mode is not allowed by the contract.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Verification submission is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/verifications/{receiptId}": {
      "get": {
        "operationId": "getVerificationReceipt",
        "summary": "Read one VerificationReceipt with its findings",
        "parameters": [{ "name": "receiptId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Verification receipt.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Verification receipt not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/challenges": {
      "post": {
        "operationId": "createChallenge",
        "summary": "Create a Challenge locking one target ClaimRevision",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateChallengeRequest" } } } },
        "responses": {
          "201": { "description": "Challenge created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Target Claim revision not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Challenge creation is not configured.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/challenges/{challengeId}": {
      "get": {
        "operationId": "getChallenge",
        "summary": "Read one Challenge with impacts, linked Evidence, and revision etag",
        "parameters": [{ "name": "challengeId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Challenge detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EtagObjectResponse" } } } },
          "404": { "description": "Challenge not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/challenges/{challengeId}/transitions": {
      "post": {
        "operationId": "transitionChallenge",
        "summary": "Move one Challenge through its state machine",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "challengeId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "$ref": "#/components/parameters/IfMatchParam" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TransitionRequest" } } } },
        "responses": {
          "201": { "description": "Challenge state changed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "409": { "description": "State transition is not allowed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/actors/{actorId}": {
      "get": {
        "operationId": "getActorContribution",
        "summary": "Read one Actor's contribution roles and attribution edges",
        "parameters": [{ "name": "actorId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Contribution profile.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "No contribution statements exist.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listResearchEvents",
        "summary": "List formal ResearchEvents with filters and cursor pagination",
        "parameters": [
          { "name": "objectType", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "objectId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "actorId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "eventType", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "createdAfter", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "createdBefore", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": { "description": "Event page.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedResponse" } } } }
        }
      }
    },
    "/events/export": {
      "get": {
        "operationId": "exportResearchEvents",
        "summary": "Export a contiguous ResearchEvent range as NDJSON",
        "parameters": [
          { "name": "firstEventId", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "lastEventId", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } }
        ],
        "responses": {
          "200": { "description": "NDJSON event export.", "content": { "application/x-ndjson": { "schema": { "type": "string" } } } },
          "409": { "description": "Event range is not contiguous.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/events/{eventId}/proof": {
      "get": {
        "operationId": "getResearchEventProof",
        "summary": "Read the Merkle inclusion proof for one Event under a published checkpoint",
        "parameters": [{ "name": "eventId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Inclusion proof.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "No published checkpoint covers the Event.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/checkpoints/{checkpointId}": {
      "get": {
        "operationId": "getMerkleCheckpoint",
        "summary": "Read one signed Merkle checkpoint root, range, and signature",
        "parameters": [{ "name": "checkpointId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Merkle checkpoint.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Checkpoint not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/merge-proposals/{proposalId}": {
      "get": {
        "operationId": "getMergeProposal",
        "summary": "Read one MergeProposal with satisfied and unsatisfied policy conditions",
        "parameters": [{ "name": "proposalId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } }],
        "responses": {
          "200": { "description": "Merge proposal.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Merge proposal not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/provenance/{objectType}/{objectId}": {
      "get": {
        "operationId": "getObjectProvenance",
        "summary": "Read the Actor to Event to Object to Frontier provenance path for one revision",
        "parameters": [
          { "name": "objectType", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "objectId", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1 } },
          { "name": "revision", "in": "query", "required": true, "schema": { "type": "integer", "minimum": 1 } }
        ],
        "responses": {
          "200": { "description": "Provenance path.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectResponse" } } } },
          "404": { "description": "Complete provenance path not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "parameters": {
      "LimitParam": { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 } },
      "CursorParam": { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string" } },
      "IfMatchParam": { "name": "If-Match", "in": "header", "required": true, "schema": { "type": "string", "minLength": 1 } }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": ["service", "status", "environment"],
        "properties": {
          "service": { "const": "evimesh-api-edge" },
          "status": { "const": "ok" },
          "environment": { "type": "string" }
        },
        "additionalProperties": false
      },
      "AuthMeResponse": {
        "type": "object",
        "required": ["subject", "email"],
        "properties": {
          "subject": { "type": "string", "minLength": 1 },
          "email": { "type": ["string", "null"] }
        },
        "additionalProperties": false
      },
      "DeviceAuthorizationRequest": {
        "type": "object",
        "required": ["client_id"],
        "properties": { "client_id": { "type": "string", "minLength": 1 } }
      },
      "DeviceAuthorizationResponse": {
        "type": "object",
        "required": ["device_code", "user_code", "verification_uri", "interval", "expires_in"],
        "properties": {
          "device_code": { "type": "string", "minLength": 1 },
          "user_code": { "type": "string", "minLength": 1 },
          "verification_uri": { "type": "string", "minLength": 1 },
          "interval": { "type": "integer", "minimum": 1 },
          "expires_in": { "type": "integer", "minimum": 1 }
        }
      },
      "DeviceApprovalRequest": {
        "type": "object",
        "required": ["user_code"],
        "properties": { "user_code": { "type": "string", "minLength": 1 } }
      },
      "DeviceApprovalResponse": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": { "const": "approved" },
          "device_code": { "type": ["string", "null"] }
        }
      },
      "DeviceTokenRequest": {
        "type": "object",
        "required": ["device_code"],
        "properties": { "device_code": { "type": "string", "minLength": 1 } }
      },
      "DeviceTokenResponse": {
        "type": "object",
        "required": ["access_token", "scopes"],
        "properties": {
          "access_token": { "type": "string", "minLength": 1 },
          "scopes": { "type": "array", "items": { "type": "string" } },
          "token_id": { "type": ["string", "null"] }
        }
      },
      "DeviceAuthErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string", "minLength": 1 },
          "error_description": { "type": "string" }
        },
        "additionalProperties": false
      },
      "PlatformPublicKeysResponse": {
        "type": "object",
        "required": ["active_key_id", "keys"],
        "properties": {
          "active_key_id": { "type": "string", "minLength": 1 },
          "keys": {
            "type": "array",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/PlatformPublicKey" }
          }
        },
        "additionalProperties": false
      },
      "PlatformPublicKey": {
        "type": "object",
        "required": ["key_id", "algorithm", "public_key"],
        "properties": {
          "key_id": { "type": "string", "minLength": 1 },
          "algorithm": { "const": "Ed25519" },
          "public_key": { "type": "string", "minLength": 1 }
        },
        "additionalProperties": false
      },
      "ContextBundleResponse": {
        "type": "object",
        "required": ["contextBundleId", "taskId", "taskRevision", "frontierSnapshotId", "mode", "manifest", "contentHash", "storageUri"],
        "properties": {
          "contextBundleId": { "type": "string" },
          "taskId": { "type": "string" },
          "taskRevision": { "type": "integer", "minimum": 1 },
          "frontierSnapshotId": { "type": "string" },
          "mode": { "type": "string", "enum": ["frontier", "full_trace", "adversarial", "blind"] },
          "manifest": { "type": "object" },
          "contentHash": { "type": "string", "pattern": "^sha256:[0-9a-f]{64}$" },
          "storageUri": { "type": "string", "format": "uri" }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["code", "message", "request_id"],
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "request_id": { "type": "string" }
        },
        "additionalProperties": false
      },
      "ClientSignatureEnvelope": {
        "type": "object",
        "required": ["schema", "event_type", "payload", "nonce", "signing_bytes_hash", "signature"],
        "properties": {
          "schema": { "const": "srp.client-signature-envelope.v1" },
          "event_type": { "type": "string", "minLength": 1 },
          "payload": { "type": "object" },
          "nonce": { "type": "string", "pattern": "^[A-Za-z0-9_-]{16,128}$" },
          "signing_bytes_hash": { "type": "string", "pattern": "^sha256:[0-9a-f]{64}$" },
          "signature": {
            "type": "object",
            "required": ["algorithm", "key_id", "value"],
            "properties": {
              "algorithm": { "const": "Ed25519" },
              "key_id": { "type": "string", "minLength": 1 },
              "value": { "type": "string", "minLength": 1 }
            }
          }
        }
      },
      "PagedResponse": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": { "type": "array", "items": { "type": "object" } },
          "nextCursor": { "type": ["string", "null"] }
        }
      },
      "ObjectResponse": { "type": "object" },
      "EtagObjectResponse": {
        "type": "object",
        "required": ["etag"],
        "properties": { "etag": { "type": "string", "pattern": "^W/\".+$" } }
      },
      "TransitionRequest": {
        "type": "object",
        "required": ["toState"],
        "properties": { "toState": { "type": "string", "minLength": 1 } },
        "additionalProperties": false
      },
      "RegisterSigningKeyRequest": {
        "type": "object",
        "required": ["keyId", "publicKey"],
        "properties": { "keyId": { "type": "string", "minLength": 1 }, "publicKey": { "type": "string", "minLength": 1 } }
      },
      "CreateApiTokenRequest": {
        "type": "object",
        "properties": {
          "scopes": { "type": "array", "items": { "type": "string" } },
          "expiresAt": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": ["projectId", "name", "summary", "license"],
        "properties": {
          "projectId": { "type": "string", "minLength": 1 },
          "name": { "type": "string", "minLength": 1 },
          "summary": { "type": "string", "minLength": 1 },
          "license": { "type": "string", "minLength": 1 },
          "maintainerIds": { "type": "array", "items": { "type": "string" } }
        }
      },
      "CreateQuestionRequest": {
        "type": "object",
        "required": ["questionId", "projectId", "title", "statement"],
        "properties": {
          "questionId": { "type": "string", "minLength": 1 },
          "projectId": { "type": "string", "minLength": 1 },
          "title": { "type": "string", "minLength": 1 },
          "statement": { "type": "string", "minLength": 1 },
          "researchContract": { "type": ["object", "null"] }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": ["taskId", "title", "description", "outputs", "acceptance", "contextMode"],
        "properties": {
          "taskId": { "type": "string", "minLength": 1 },
          "questionId": { "type": ["string", "null"] },
          "title": { "type": "string", "minLength": 1 },
          "description": { "type": "string", "minLength": 1 },
          "inputs": { "type": "array", "items": { "type": "object" } },
          "outputs": { "type": ["object", "array"] },
          "acceptance": { "type": ["object", "array"] },
          "contextMode": { "type": "string", "enum": ["frontier", "full_trace", "adversarial", "blind"] }
        }
      },
      "StartAttemptRequest": {
        "type": "object",
        "required": ["attemptId", "contextBundleId", "contextMode"],
        "properties": {
          "attemptId": { "type": "string", "minLength": 1 },
          "contextBundleId": { "type": "string", "minLength": 1 },
          "contextMode": { "type": "string", "enum": ["frontier", "full_trace", "adversarial", "blind"] }
        }
      },
      "TraceEventRequest": {
        "type": "object",
        "required": ["eventId", "eventType", "payload"],
        "properties": {
          "eventId": { "type": "string", "minLength": 1 },
          "eventType": { "type": "string", "pattern": "^[a-z][a-z0-9]*(\\.[a-z][a-z0-9]*)+$" },
          "payload": { "type": "object" },
          "hash": { "type": ["string", "null"] },
          "signature": { "type": ["object", "null"] },
          "parents": { "type": "array", "items": { "type": "string" } }
        }
      },
      "CreateClaimRequest": {
        "type": "object",
        "required": ["claimId", "statement", "scope", "falsification"],
        "properties": {
          "claimId": { "type": "string", "minLength": 1 },
          "questionId": { "type": ["string", "null"] },
          "statement": { "type": "string", "minLength": 1 },
          "scope": { "type": ["object", "array"] },
          "assumptions": { "type": ["object", "array"] },
          "falsification": { "type": ["object", "array"] },
          "signatureEnvelope": { "$ref": "#/components/schemas/ClientSignatureEnvelope" }
        }
      },
      "CreateArtifactRequest": {
        "type": "object",
        "required": ["artifactId", "artifactType", "rawHash", "sizeBytes", "mediaType", "license", "locationId", "location"],
        "properties": {
          "artifactId": { "type": "string", "minLength": 1 },
          "artifactType": { "type": "string", "enum": ["code", "dataset", "document", "figure", "proof", "notebook", "container", "model", "report", "other"] },
          "rawHash": { "type": "string", "pattern": "^sha256:[0-9a-fA-F]{64}$" },
          "semanticHash": { "type": ["string", "null"], "pattern": "^sha256:[0-9a-fA-F]{64}$" },
          "sizeBytes": { "type": "integer", "minimum": 0 },
          "mediaType": { "type": "string", "pattern": "^[^\\s/]+/[^\\s/]+$" },
          "license": { "type": "string", "minLength": 1 },
          "description": { "type": ["string", "null"] },
          "locationId": { "type": "string", "minLength": 1 },
          "location": { "type": "string", "format": "uri" }
        }
      },
      "UploadPlanRequest": {
        "type": "object",
        "required": ["artifactId", "revision", "rawHash", "sizeBytes", "mediaType"],
        "properties": {
          "artifactId": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "rawHash": { "type": "string", "pattern": "^sha256:[0-9a-fA-F]{64}$" },
          "sizeBytes": { "type": "integer", "minimum": 0 },
          "mediaType": { "type": "string", "minLength": 1 }
        }
      },
      "UploadPlanResponse": {
        "type": "object",
        "required": ["uploadType", "key", "sizeBytes", "mediaType", "issuedAt", "expiresAt", "url"],
        "properties": {
          "uploadType": { "const": "single" },
          "key": { "type": "string", "minLength": 1 },
          "sizeBytes": { "type": "integer", "minimum": 0 },
          "mediaType": { "type": "string", "minLength": 1 },
          "issuedAt": { "type": "string", "format": "date-time" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "CreateEvidenceRequest": {
        "type": "object",
        "required": ["evidenceId", "evidenceType", "artifactId", "artifactRevision"],
        "properties": {
          "evidenceId": { "type": "string", "minLength": 1 },
          "evidenceType": { "type": "string", "enum": ["formal_proof", "numerical_result", "experimental_result", "dataset", "literature_support", "counterexample", "benchmark", "statistical_analysis", "code_test", "negative_result", "expert_assessment"] },
          "artifactId": { "type": "string", "minLength": 1 },
          "artifactRevision": { "type": "integer", "minimum": 1 },
          "runId": { "type": ["string", "null"] },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["claimId", "claimRevision", "relationType"],
              "properties": {
                "claimId": { "type": "string", "minLength": 1 },
                "claimRevision": { "type": "integer", "minimum": 1 },
                "relationType": { "type": "string", "enum": ["supports", "refutes", "qualifies", "reproduces"] }
              }
            }
          }
        }
      },
      "LinkEvidenceRequest": {
        "type": "object",
        "required": ["claimId", "claimRevision", "relationType"],
        "properties": {
          "claimId": { "type": "string", "minLength": 1 },
          "claimRevision": { "type": "integer", "minimum": 1 },
          "relationType": { "type": "string", "enum": ["supports", "refutes", "qualifies", "reproduces"] }
        }
      },
      "CreateRunRequest": {
        "type": "object",
        "required": ["runId", "taskId", "contextBundleId", "sourceCode", "container", "command", "environment", "hardware", "randomSeed", "startedAt", "endedAt", "exitCode", "signature"],
        "properties": {
          "runId": { "type": "string", "minLength": 1 },
          "taskId": { "type": "string", "minLength": 1 },
          "contextBundleId": { "type": "string", "minLength": 1 },
          "sourceCode": { "type": "string", "minLength": 1 },
          "container": { "type": "string", "pattern": "^(?:oci:)?[^\\s@]+@sha256:[a-fA-F0-9]{64}$" },
          "command": { "type": "string", "minLength": 1 },
          "args": { "type": "array", "items": { "type": "string" } },
          "environment": { "type": "object" },
          "hardware": { "type": "object" },
          "randomSeed": { "type": "object" },
          "startedAt": { "type": "string", "format": "date-time" },
          "endedAt": { "type": "string", "format": "date-time" },
          "networkAccess": { "type": "boolean" },
          "exitCode": { "type": "integer" },
          "signature": { "type": "string", "minLength": 1 },
          "inputs": { "type": "array", "items": { "$ref": "#/components/schemas/ArtifactRevisionRef" } },
          "outputs": { "type": "array", "items": { "$ref": "#/components/schemas/ArtifactRevisionRef" } },
          "signatureEnvelope": { "$ref": "#/components/schemas/ClientSignatureEnvelope" }
        }
      },
      "ArtifactRevisionRef": {
        "type": "object",
        "required": ["artifactId", "artifactRevision"],
        "properties": {
          "artifactId": { "type": "string", "minLength": 1 },
          "artifactRevision": { "type": "integer", "minimum": 1 }
        }
      },
      "PrepareVerificationRequest": {
        "type": "object",
        "required": ["claimId", "claimRevision", "contractId", "contractRevision", "nonce"],
        "properties": {
          "claimId": { "type": "string", "minLength": 1 },
          "claimRevision": { "type": "integer", "minimum": 1 },
          "contractId": { "type": "string", "minLength": 1 },
          "contractRevision": { "type": "integer", "minimum": 1 },
          "nonce": { "type": "string", "pattern": "^[A-Za-z0-9_-]{16,128}$" }
        }
      },
      "SubmitVerificationRequest": {
        "type": "object",
        "required": ["receiptId", "runId", "claimId", "claimRevision", "contractId", "contractRevision", "outcome", "verificationTypes", "contextMode", "sawExpectedOutputs", "implementationRelation", "dataRelation", "modelFamily", "contributionStatementId"],
        "properties": {
          "receiptId": { "type": "string", "minLength": 1 },
          "runId": { "type": "string", "minLength": 1 },
          "claimId": { "type": "string", "minLength": 1 },
          "claimRevision": { "type": "integer", "minimum": 1 },
          "contractId": { "type": "string", "minLength": 1 },
          "contractRevision": { "type": "integer", "minimum": 1 },
          "outcome": { "type": "string", "enum": ["supports", "refutes", "qualifies", "inconclusive"] },
          "verificationTypes": { "type": "array", "minItems": 1, "items": { "type": "string" } },
          "contextMode": { "type": "string", "enum": ["frontier", "full_trace", "adversarial", "blind"] },
          "sawExpectedOutputs": { "type": "boolean" },
          "implementationRelation": { "type": "string", "minLength": 1 },
          "dataRelation": { "type": "string", "minLength": 1 },
          "modelFamily": { "type": "string", "minLength": 1 },
          "contributionStatementId": { "type": "string", "minLength": 1 },
          "findings": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["findingId", "severity", "code"],
              "properties": {
                "findingId": { "type": "string", "minLength": 1 },
                "severity": { "type": "string", "enum": ["critical", "major", "warning", "note"] },
                "code": { "type": "string", "minLength": 1 },
                "details": { "type": "object" }
              }
            }
          },
          "signatureEnvelope": { "$ref": "#/components/schemas/ClientSignatureEnvelope" }
        }
      },
      "CreateChallengeRequest": {
        "type": "object",
        "required": ["challengeId", "targetClaimId", "targetClaimRevision", "reason", "impact"],
        "properties": {
          "challengeId": { "type": "string", "minLength": 1 },
          "targetClaimId": { "type": "string", "minLength": 1 },
          "targetClaimRevision": { "type": "integer", "minimum": 1 },
          "reason": { "type": "string", "minLength": 1 },
          "impact": { "type": ["object", "array"] },
          "proposedResolution": { "type": ["string", "null"] },
          "signatureEnvelope": { "$ref": "#/components/schemas/ClientSignatureEnvelope" }
        }
      }
    }
  }
}
